h1 {font-family: Arial;
	padding-left: 100px;
	padding-top: 20px;
	color: #CD5C5C}
h2 {font-family: Arial;
	padding-left: 100px;
	font-style: italic;
	color: #CD5C5C}
h4 {font-family: Arial;
	padding-top: 300px;
	font-style: bold}
p {font-family: Arial;
	padding-left: 200px;
	padding-right: 200px}
a {font-family: Arial;
	text-decoration: none;
   font-size: 30px;
   color: #CD5C5C}